{% extends "base.html" %}


{% block content %}

<h3>Welcome in {{ course.name }} course.</h2>
<div class="container">
{% for video in course.videos.all %}
  <div class="card mb-3" style="max-width: 1080px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="media-object img-thumbnail" src="{{ object.thumbnail.url }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <a href="{{ video.get_absolute_url }}">
            <h5 class="card-title">{{ video.title }}</h5>
          </a>
          <p class="card-text">{{ video.description }}</p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>


{% endblock content %}