{% extends "base.html" %}


{% block content %}

<h3>Video Detail</h3>

<div class="container">
{% for video in video.course.videos.all %}
  <div class="card mb-3" style="max-width: 1080px;">
    <div class="row g-0">
      <div class="col-md-4">
      <a href="{{ video.get_absolute_url }}">VIDEO {{ video.video_id }}</a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ video.title }}</h5>
          <p class="card-text">{{ video.description }}</p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>


{% endblock content %}